* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sony_name {
    background-color: black;
    color: white;
    text-align: end;
    height: 50px;
    padding: 0px 25px;
}

.header {
    position: sticky;
    top :0;
    z-index: 99;
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.left-header {
    max-width: 100%;
    display: flex;
    justify-content: left;
}

.left-header .select-bar {
    margin: 0px 8px;
}

.select-bar select {
    border: none;
    font-size: medium;
    padding-top: 10px;
    color: gray;
    font-weight: 500;
    background-color: inherit;

}

.right-header {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.right-header button {
    margin-bottom: 8px;
    border-radius: 20px;
    font-size: small;
    padding: 6px;
}

.svg-cover {
    padding: 10px;
}
.signup{
    padding: 5px 20px !important;
    border: none;
}

.svg-cover svg {
    height: 30px;
    width: 25px;
}
.cover img{
    width: 100%;
    
}

.carousel-item img:nth-child(1) {
    /* width: 80px; */
    height: 460px;
}

.slide {
    margin: 20px 40px;
    border-radius: 20px;

}

.game-card {
    height: fit-content;
    margin: 40px 160px;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap:3px;
}

.game-card img {
    height: 120px;
    width: 100%;
    border: 4px solid transparent;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}

.game-card img:hover {
    transform:translateY(-10px);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
    border: 4px solid blue;
    transition:  0.4s ease-in-out;

}

.ps-5 {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    padding-top: 20px;

}

.left-ps5 {
    width: 20%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding-top: 100px;
}

.left-ps5 h2 {
    font-size: 36px;
    font-weight: 400;
    margin: 20px auto;
}

.left-ps5 p,
button {
    font-size: 28px;
    color: gray;
}

.left-ps5 button {

    font-size: 24px;
    padding: 6px;
    color: white;
    background-color: blue;
    border-radius: 24px;
}

.right-ps5 {
    width: 50%;
}

.right-ps5 img {
    height: 100%;
    width: 100%;
}

/*game palying accecories */
.game-accesory {
    /* height:150px; */
    /* width:100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 120px;
}

.game-accesory img {
    height: fit-content;
    width: 100px;
    border-radius: 10px;
    margin: 0px 20px;
}